openai>=1.0.0
python-dotenv>=0.19.0
requests>=2.25.1
asyncio>=3.4.3
pyaudio
pydub
pyaudio-0.2.12-cp310-cp310-win_amd64.whl
PyInstaller
paramiko
numpy
pandas
pyaudio-0.2.12-cp310-cp310-win_amd64.whl

